h1{
    color:crimson;
    background-color:#8285bd;
}

p{
    color:rgb(196, 51, 75);
    background-color:#bd82a2 ;
}

button{
    color:rgb(201, 23, 23);
    background-color:rgb(48, 148, 172) ;
}

body{
    background-color:#7fc4b4;
}
